@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: "Digital7", sans-serif;
    src: url("fonts/Digital7-rg1mL.ttf");
}


/* ----- UNIVERSAL ----- */
*,
*::before,
*::after {
    box-sizing: border-box;
}
.flex {
    display: flex;
}
body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    background-image: url("images/IMG_8853-b.jpeg");
    background-size: 100%;
    /* background-color: rgb(221, 221, 221); */
    color: #28393D;
}


.calculator-body {
    flex-direction: column;

    width: 350px;
    height: 700px;
    padding: 5px;

    border: 1px solid black;
    border-radius: 4px;

    background-color: rgb(20, 57, 136);
    /* box-shadow: -13px 17px 20px 0px rgba(0, 0, 0, 0.155),
                -5px 3px 6px 0px rgba(0, 0, 0, 0.175); */
    box-shadow: -21px 29px 47px -14px rgba(0,0,0,0.45),
    -9px 9px 20px -6px rgba(0,0,0,0.45),
    -9px 15px 38px 13px rgba(0,0,0,0.22),
    -1px 12px 7px 0px rgba(0,0,0,0.22);
}

.calc-inner-border {
    flex-direction: column;
    padding: 15px;
    border: 1px solid rgb(15, 40, 95);
    border-radius: 4px;
    box-shadow: 21px -19px 15px -20px rgba(197, 213, 233, 0.142),
                -10px 15px 15px -12px rgba(0, 0, 0, 0.159),
                4px -5px 5px -5px rgba(197, 213, 233, 0.142) inset,
                -7px 5px 5px -6px rgba(34, 32, 32, 0.126) inset;
}

/* ----------- Top Box ------------ */

.top-box {
    align-self: center;
    align-items: center;
    justify-content: center;
    
    height: 70px;
    width: 310px;
    margin-top: 20px;
    margin-bottom: 10px;

    border: 1px solid rgb(11, 35, 87);
    border-radius: 2px;
    box-shadow: 0px 20px 10px -20px rgba(0,0,0,0.45) inset,
                -20px 0px 10px -20px rgba(0,0,0,0.45) inset;
    /* box-shadow: rgba(11, 35, 87, 0.484) 0px 15px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
.display {
    align-items: center;
    justify-content: center;
    
    border: 1px solid black;
}
.display-outer {
    height: 90%;
    width: 300px;
    
    background-color: #4f4f4f;
    border: 1px solid black;
    /* box-shadow: rgba(50, 50, 93, 0.563) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    box-shadow: 0px 20px 10px -20px rgba(0,0,0,0.45) inset,
                -20px 0px 10px -20px rgba(0,0,0,0.45) inset;
}
.display-inner {
    height: 90%;
    width: 290px;
    
    background-color: #28393D;
    color: #263638;
    border: 1px solid black;
    border-radius: 5px;
    

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.display-text {
    width: 95%;
    text-align: right;

    font-size: 48px;
    font-family: "Digital7", sans-serif;

    border: none;
}


/* ----------- Solar Box ------------ */
.solar-box {
    justify-content: space-between;
    color:#d5dbdd;
    user-select: none;
    
}
.solar-title-text {
    font-family: "Dosis", sans-serif;
    align-self: top;
    margin-top: 5px;
    font-size: 14px;
}
.model-text {
    font-family: "Abril Fatface", serif;
    font-weight: 300;
    align-self: top;
    font-size: 32px;
    margin-top: 0;
    margin-right: 5px;
}
.panel {
    border: 1px solid black;
    height: 35px;
    width: 35px;
    background-color: #28393D;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}


/* Buttons -- ** CSS Heavily inspired by Duolingo's buttons */
.button-grid {
    margin-top: 65px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(70px, auto);
}
.button {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 13px 16px;

    width: 100%;

    font-family: "Dosis", sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .8px;
    line-height: 20px;
  
    background-color: #a2a5a7;
    color: #151515;
    border: solid transparent;
    border-radius: 8px;
    border-width: 0 0 4px;
    outline: none;
    overflow: visible;
    white-space: nowrap;

    cursor: pointer;
    appearance: button;

    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
}
.button:after {
    content: "";

    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;

    background-clip: padding-box;
    background-color: #b0b5b7;
    border: solid transparent;
    border-radius: 8px;
    border-width: 0 0 4px;
}
.button:main,
.button:focus {
  user-select: auto;
}
.button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}
.button:disabled {
  cursor: auto;
}
.button:active {
  border-width: 4px 0 0;
  background: none;
}
#mode-toggle {
    font-size: 12px;
}
#equals {
    grid-column: span 2;
}
.red-btn {
    color: #d3d3d3;
    background-color: rgb(131, 18, 18);
}
.red-btn:after {
    background-color: rgb(179, 41, 41);
}

.number {
    font-size: 24px;
    
    color: black;
}


.operator,
#equals {
    font-size: 28px;
}

#mode-toggle {
    font-size: 16px;
    color: #c0c0c1;
}

.footer {
    width: 100%;
    justify-content: space-around;
    margin-top: 32px;
    align-self: center;

    font-family: "Digital7", sans-serif;
    font-size: 13px;
    color: #d5dbdd;
    
}
a {
    text-decoration: none;
    color: #d5dbdd;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a:hover {
    font-size: 14px;
}

#xToY,
#xTo2,
#positive-negative {
    display: none;
    font-size: 22px;
}


sup {
    font-size: 12px;
}


#mute {
    text-decoration: none;
    border: none;
    background: transparent;
    font-family: Digital7, sans-serif;
    font-size: 13px;
    color: #d5dbdd;
}
#mute:hover {
    font-size: 15px;
}


@media (max-width: 660px) {
    body {
        background-size: cover;
    }
}